.AppHeader {
  margin-left: 1.5%;
  margin-right: 1.5%;

    border-radius: 5px;
    height:max-content;
 background-color: white;
}
.logo{
margin: 30px;
  padding: 20px;
  font-size: 25px;
  color: blueviolet;
}

.Lbtn:hover {
  background-color: blueviolet; /* Green */
  color: white;
}
.Lbtn {
  background-color: white; /* Green */
  border: 1px solid;
  border-color: blueviolet;
  color: blueviolet;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
  width:max-content;
  font-size: medium;
  font-stretch: expanded;
  margin-left: 10px;
  margin-bottom: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
}