.post{
    background-color: #e0d0ff;
    /* border-radius: 5px; */
    height:max-content;
}
.postImg{
    width:97%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}