.userspage{   
        margin-top: 1%;
        margin-left: 15%;
        margin-right: 15%;
          border-radius: 5px;
        height: 700px;;
       /* background-color: #c2bdce78; */
}
.user{
    
  margin: 1%;
  border-radius: 5px;
  height:max-content;
  background-color: #ffffff78;
}
.uIMG{
width: 100px;
border-radius: 50%;
}
.nickDD{
display: inline;
}
.imgdd{
display: inline;
}

.selectedPage{
  /* font-weight: bold; */
  cursor: pointer;
  color: white;
}
.notSelectedPage{
  cursor: pointer;
  color: black;
}