.AppHeader {
  margin: 5px;
    border-radius: 5px;
    height:max-content;
 background-color: rgb(255, 255, 255);
}
.logo{
margin: 30px;
  padding: 20px;
  font-size: 25px;
  color: blueviolet;
}
.searchInp{
  width:60%;
  height: 18px;
  border: 1px solid blueviolet ;
  border-radius: 5px;
}

.Lbtn:hover {
  background-color: blueviolet; /* Green */
  color: white;
}
.Lbtn {
  background-color: white; /* Green */
  border: 1px solid;
  border-color: blueviolet;
  color: blueviolet;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
  width:max-content;
  font-size: medium;
  font-stretch: expanded;
  margin-left: 10px;
  margin-bottom: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
}